extends /layouts/main

block main 
    h6 Server Side Utilities 
    ul 
        li Pagination 

    h6 Client Side Utilities 
    ul 
        li: a(href="/util/pagination.js") Pagination.js
        li: a(href="/util/submit-json.js") Submit-JSON.js